@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

@layer base {
  body {
    @apply bg-gray-100 dark:bg-grayDarkest dark:text-white;
  }

  .form-control {
    @apply w-full flex h-10 rounded-md border  px-3 py-2 text-sm  file:border-0 file:bg-transparent file:text-sm file:font-medium focus-visible:outline-none focus-visible:ring-2  focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50;
  }
}

@layer components {
  .svg-animation {
    stroke-dashoffset: 1000;
    stroke-dasharray: 1000;
    animation: dash 7s linear forwards;
  }

  @keyframes dash {
    to {
      stroke-dashoffset: 0;
    }
  }
}
